$colorLight: #ffffff;
$colorBlue: #46c3cf;
$colorDark: #092f50;
$colorGrey: #eaeaea;
$colorYellow: #ffcc00;
$colorBlack: #000000;

$size1: 54px;
$size2: 24px;
$size3: 24px;
$size4: 15px;

$fontsBase: 'PT Sans', 'Helvetica','Arial', sans-serif;