.btn {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 22px 90px 28px 30px;
  line-height: 25px;
  font-size: $size3;
  color: $colorLight;
  background: $colorBlue;
  border: 0px solid;
  font-weight: 700;
  position: relative;
  @include transition(all 0.4s ease);

  &:after, &:before {
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 5px;
    margin: -9px 25px 0 0;
    @include transition(all 0.4s ease);
  }

  &:after {
    @include opacity(1);
    @extend .icon-white-down-arrow;
    z-index: 2;
  }

  &:before {
    @include opacity(1);
    @extend .icon-blue-down-arrow;
    z-index: 1;
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
    color: $colorDark;

    &:after {
      @include opacity(0);
    }

    &:before {
      @include opacity(1);
    }
  }

  &--goal {
    @extend .btn;
    color: $colorYellow;
    background: $colorDark;
    padding: 22px 70px 28px 30px;

    &:after, &:before {
      margin: -21px 0 0;
      right: 30px;
    }

    &:after {
      @extend .icon-yellow-arrow;
    }

    &:before {
      @extend .icon-white-right-arrow;
    }

    &:hover {
      color: $colorLight;
    }
  }
}

button, input[type="submit"] {
  @extend .btn;
}