@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/osans/opensans-italic.eot');
  src: url('../fonts/osans/opensans-italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-italic.woff') format('woff'),
  url('../fonts/osans/opensans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/osans/opensans-regular.eot');
  src: url('../fonts/osans/opensans-regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-regular.woff') format('woff'),
  url('../fonts/osans/opensans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/osans/opensans-semibold.eot');
  src: url('../fonts/osans/opensans-semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/osans/opensans-semibold.woff') format('woff'),
  url('../fonts/osans/opensans-semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}