.icon-blue-down-arrow {
  background-image: url(../../img/sprite.png);
  background-position: -58px 0px;
  width: 41px;
  height: 17px;
}
.icon-close {
  background-image: url(../../img/sprite.png);
  background-position: -36px -20px;
  width: 18px;
  height: 18px;
}
.icon-is-check {
  background-image: url(../../img/sprite.png);
  background-position: -36px 0px;
  width: 21px;
  height: 19px;
}
.icon-white-down-arrow {
  background-image: url(../../img/sprite.png);
  background-position: -58px -18px;
  width: 41px;
  height: 17px;
}
.icon-white-right-arrow {
  background-image: url(../../img/sprite.png);
  background-position: 0px 0px;
  width: 17px;
  height: 41px;
}
.icon-yellow-arrow {
  background-image: url(../../img/sprite.png);
  background-position: -18px 0px;
  width: 17px;
  height: 41px;
}
