%sprite {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-icon-close-btn {
  @extend %sprite;
  width: 18px;
  height: 18px;
  background-position: -10px -10px;
}

.sprite-icon_fb {
  @extend %sprite;
  width: 37px;
  height: 37px;
  background-position: -48px -10px;
}

.sprite-icon_in {
  @extend %sprite;
  width: 37px;
  height: 37px;
  background-position: -10px -67px;
}

.sprite-icon_ok {
  @extend %sprite;
  width: 37px;
  height: 37px;
  background-position: -67px -67px;
}

.sprite-icon_tw {
  @extend %sprite;
  width: 37px;
  height: 37px;
  background-position: -105px -10px;
}

.sprite-icon_vk {
  @extend %sprite;
  width: 37px;
  height: 37px;
  background-position: -124px -67px;
}