$colorLight: #ffffff;
$colorBlue: #009fe3;
$colorDark: #2a2a2a;
$colorGrey: #a5a5a5;
$colorRed: #ff209a;
$colorYellow: #ffed00;
$colorYellow2: #fec500;

$bigSize: 27px;
$size1: 26px;
$size2: 22px;
$size3: 18px;
$size4: 16px;
$size5: 14px;
$size6: 12px;

$fontsBase: 'OpenSans', 'Helvetica','Arial', sans-serif;
$fontsReserv: 'Segoe UI','Arial','Helvetica',sans-serif;